body {
	margin:0;
	padding:0;
	background-color:#cbbba0;
}

.header{
	width:100%;
	vertical-align:bottom;
}

.disp-table{
	display:table;
}

.btn-menu{
	color:#614d42;
	font-size:30px;
	margin-right:35px;
}

ul li{
	display:inline;
	font-family: 'Gloria Hallelujah', cursive;
}

.bloc{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#fff;
}

.nav-list .active a{
	background-color:#614d42;
	color:white !important;
}
.nav-list a{
	color:#614d42;
}
