<div class="row">
	<div class="span3">
		<ul class="thumbnails">
		{% for item in object %}
		{% if loop.cycle(1,2,3) == 1 %}
			<li class="span3">
			  <a href="#" class="thumbnail">
			    {{ item|thumbnail(210, 158) }}
			  </a>
				<h5>{{ item.title }}</h5>
				<h6>{{ item.size }}</h6>
				<hr>
				<p><small>{{ item.description }}</small></p>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
	</div>
	<div class="span3">
		<ul class="thumbnails">
		{% for item in object %}
		{% if loop.cycle(1,2,3) == 2 %}
			<li class="span3">
			  <a href="#" class="thumbnail">
			    {{ item|thumbnail(210, 158) }}
			  </a>
				<h5>{{ item.title }}</h5>
				<h6>{{ item.size }}</h6>
				<hr>
				<p><small>{{ item.description }}</small></p>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
	</div>
	<div class="span3">
		<ul class="thumbnails">
		{% for item in object %}
		{% if loop.cycle(1,2,3) == 3 %}
			<li class="span3">
			  <a href="#" class="thumbnail">
			    {{ item|thumbnail(210, 158) }}
			  </a>
				<h5>{{ item.title }}</h5>
				<h6>{{ item.size }}</h6>
				<hr>
				<p><small>{{ item.description }}</small></p>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>