{% extends 'base.html' %}
{% block content %}
<a class="btn" onclick="$('#brands').slideToggle();">Ver marcas</a>
<div id="brands" class="row" style="display:none">
	<br>
	<div class="span3">
		{{ img.klapp.get("img-rounded") }}
		<br><br>
		{{ img.qetre.get("img-rounded") }}
	</div>
	<div class="span3">
		{{ img.freihaut.get("img-rounded") }}
		<br><br>
		{{ img.redusize.get("img-rounded") }}
	</div>
	<div class="span3">
		{{ img.marzia.get("img-rounded") }}
		<br><br>
		{{ img.royal.get("img-rounded") }}
	</div>
	<div class="span3">
		{{ img.overline.get("img-rounded") }}
	</div>
</div>
<br><br>
	<div id="myCarousel" class="carousel slide radius">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
			
			<div class="active item">
				{{ img.slider1.get("img-rounded") }}
				<div class="carousel-caption">
				<h4>First Image</h4>
				<p>First carousel image</p>
				</div>
			</div>
			
			<div class="item">
				{{ img.slider3.get("img-rounded") }}
			</div>
	    
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
<br>
<div class="row">
	<div class="span4">
		
		<div class="product-title">
			{{ img.desc1|thumbnail(250, 250, "img-circle") }}
			<h2>{{ cosmetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ cosmetic_bloc.text }}</p>
		</div>
		
		<div class="product-title">
			{{ img.desc3|thumbnail(250, 250, "img-circle") }}
			<h2>{{ equipment_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ equipment_bloc.text }}</p>
		</div>
		
		<div class="product-title">
			{{ img.desc1|thumbnail(250, 250, "img-circle") }}
			<h2>{{ cosmetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ cosmetic_bloc.text }}</p>
		</div>
		
	</div>
	
	<div class="span4">
		
		<div class="product-title">
			{{ img.desc2|thumbnail(250, 250, "img-circle") }}
			<h2>{{ dietetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ dietetic_bloc.text }}</p>
		</div>
		
		<div class="product-title">
			{{ img.desc3|thumbnail(250, 250, "img-circle") }}
			<h2>{{ equipment_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ equipment_bloc.text }}</p>
		</div>
		
		<div class="product-title">
			{{ img.desc2|thumbnail(250, 250, "img-circle") }}
			<h2>{{ dietetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ dietetic_bloc.text }}</p>
		</div>
		
	</div>
	<div class="span4">
	</div>
</div>

{% endblock content %}
