{% extends 'base.html' %}
{% block content %}
<a class="btn" onclick="$('#brands').slideToggle();">Ver marcas</a>
<div id="brands" class="row" style="display:none">
	<br>
	<div class="span3">
		<img src="{{ img.klapp }}" class="img-rounded">
		<br><br>
		<img src="{{ img.qetre }}" class="img-rounded">
	</div>
	<div class="span3">
		<img src="{{ img.freihaut }}" class="img-rounded">
		<br><br>
		<img src="{{ img.redusize }}" class="img-rounded">
	</div>
	<div class="span3">
		<img src="{{ img.marzia }}" class="img-rounded">
		<br><br>
		<img src="{{ img.royal }}" class="img-rounded">
	</div>
	<div class="span3">
		<img src="{{ img.overline }}" class="img-rounded">
	</div>
</div>
<br><br>
	<div id="myCarousel" class="carousel slide radius">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
			
			<div class="active item">
				<img class="img-rounded" src="{{ img.slider1 }}"/>
				<div class="carousel-caption">
				<h4>First Image</h4>
				<p>First carousel image</p>
				</div>
			</div>
			
			<div class="item">
				<img class="img-rounded" src="{{ img.slider3 }}"/>
			</div>
	    
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
<br>
<div class="row">
	<div class="span4">
		
		<div class="product-title">
			<img src="{{ img.desc1 }}" class="img-circle" width="250px">
			<h2>{{ cosmetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ cosmetic_bloc.text }}</p>
		</div>
		
		<div class="product-title">
			<img src="{{ img.desc3 }}" class="img-circle" width="250px">
			<h2>{{ equipment_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ equipment_bloc.text }}</p>
		</div>
		
		<div class="product-title">
			<img src="{{ img.desc1 }}" class="img-circle" width="250px">
			<h2>{{ cosmetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ cosmetic_bloc.text }}</p>
		</div>
		
	</div>
	
	<div class="span4">
		
		<div class="product-title">
			<img src="{{ img.desc2 }}" class="img-circle" width="250px">
			<h2>{{ dietetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ dietetic_bloc.text }}</p>
		</div>
		
		<div class="product-title">
			<img src="{{ img.desc3 }}" class="img-circle" width="250px">
			<h2>{{ equipment_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ equipment_bloc.text }}</p>
		</div>
		
		<div class="product-title">
			<img src="{{ img.desc2 }}" class="img-circle" width="250px">
			<h2>{{ dietetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ dietetic_bloc.text }}</p>
		</div>
		
	</div>
	<div class="span4">
	</div>
</div>

{% endblock content %}
