{% extends 'base.html' %}
{% block content %}
	<div id="myCarousel" class="carousel slide radius">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
			
			<div class="active item">
				<img class="img-rounded" src="{{ image.slider1.url() }}"/>
				<div class="carousel-caption">
				<h4>First Image</h4>
				<p>First carousel image</p>
				</div>
			</div>
			
			<div class="item">
				<img class="img-rounded" src="{{ image.slider3.url() }}"/>
			</div>
	    
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
<br>
<div class="row">
	<div class="span4">
		<div class="product-title">
			<img src="{{ image.desc1.url() }}" class="img-circle" width="250px">
			<h2>{{ cosmetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ cosmetic_bloc.text }}</p>
		</div>
	</div>
	
	<div class="span4">
		<div class="product-title">
			<img src="{{ image.desc2.url() }}" class="img-circle" width="250px">
			<h2>{{ dietetic_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ dietetic_bloc.text }}</p>
		</div>
	</div>
	<div class="span4">
		
		<div class="product-title">
			<img src="{{ image.desc3.url() }}" class="img-circle" width="250px">
			<h2>{{ equipment_bloc.title }}</h2>
		</div>
		<div class="product-description">
			<p>{{ equipment_bloc.text }}</p>
		</div>
		
	</div>
</div>

{% endblock content %}
