{% extends 'base.html' %}
{% block content %}

<div>
	<h2>¿Quienes somos?</h2>
	<h5>Un poco de información</h5>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor, diam id ultrices porttitor, odio velit tempor sem, sit amet adipiscing urna augue quis neque. Nulla et posuere massa. Aliquam quis leo ac dui accumsan pulvinar sit amet at libero. Integer porta commodo justo sed varius. Curabitur sit amet mi ligula. Phasellus pharetra viverra risus id lacinia. Nullam nisi diam, luctus sit amet dictum id, sollicitudin quis dui. Nunc facilisis turpis quis nisl pharetra lacinia. Cras tincidunt, orci vel molestie suscipit, dolor lacus dapibus turpis, non luctus ipsum lectus eleifend justo. Cras quam ante, pulvinar id pharetra sed, facilisis sed felis.</p>
	<br>
	<p>Praesent nec nunc nec purus mattis semper eget non neque. Vivamus tellus turpis, vulputate sit amet condimentum sollicitudin, malesuada a risus. Sed at arcu odio, pellentesque malesuada sapien. Nulla vel neque diam, et ullamcorper lacus. Duis vitae nulla leo, nec imperdiet nulla. Nunc tincidunt sem et lacus porttitor rhoncus. Donec malesuada odio a tortor dapibus porta. Proin consequat risus id purus cursus mattis. Aenean ac erat non leo dignissim sodales non a nunc. Nam a quam enim.</p>
	<br>
	<ul class="thumbnails">
	  <li class="span4">
	    <a href="#" class="thumbnail">
	      <img src="{{ img.img }}" alt="">
	    </a>
	  </li>
	  <li class="span4">
	    <a href="#" class="thumbnail">
	      <img src="{{ img.img }}" alt="">
	    </a>
	  </li>
	  <li class="span4">
	    <a href="#" class="thumbnail">
	      <img src="{{ img.img }}" alt="">
	    </a>
	  </li>
	</ul>
</div>

{% endblock content %}