{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="span4">
		<img class="top_rounded" src="{{ image.logo_product.url() }}" alt="">
		
		<div class="data a">PROTECT ZONE 50 ml</div>
		<div class="data b">HYDRA ZONE 50 ml</div>
		<div class="data a">MAT ZONE 50 ml</div>
		<div class="data b">SPECIAL ZONE 20 ml</div>
		<div class="data a bottom-rounded">CONCENTRATE 4 x 10 ml</div>
		
	</div>
	<div class="span8">
		<h2 style="margin-top:0">Stri-peXan</h2>
		<p>Las células madre son la fuente de todos los tejidos y juegan un importante papel en el desarrollo y la regeneración del organismo. Tienen una capacidad divisoria o reproductora ilimitada. Sin embargo, con los años y debido a las influencias medioambientales de todos los días se va disminuyendo su función. La investigación de las células madre y en particular la obtención de células madre naturales de plantas se realiza a través de una tecnología que supone un verdade- ro progreso con respecto al tratamiento antiaging y es precursora en la cosmética ofreciendo nuevas posibilidades.</p><p>
Proteger y prolongar la duración de las células madre de la piel son la base de estas últimas investigaciones. Las células madre vegetales tienen un efecto positivo en las células madre de la piel y por ello for- man la base para la innovadora sustancia activa que contiene Stri- PeXan PHYTO STEM CELL TECHNOLOGY. Se obtiene esta sustancia activa de una especie de manzana suiza antigua e infrecuente.</p>
		
		<ul class="thumbnails">
				  <!-- <li class="span8">
							    <a href="#" class="thumbnail">
							      <img src="{{ image.product1.url() }}" alt="">
							    </a>
							  </li> -->
				  <li class="span4">
				    <a href="#" class="thumbnail">
				      <img src="{{ image.product1_th1.url() }}" alt="">
				    </a>
				  </li>
				  <li class="span4">
				    <a href="#" class="thumbnail">
				      <img src="{{ image.product1_th2.url() }}" alt="">
				    </a>
				  </li>
				  <li class="span4">
				    <a href="#" class="thumbnail">
				      <img src="{{ image.product1_th3.url() }}" alt="">
				    </a>
				  </li>
				  <li class="span4">
				    <a href="#" class="thumbnail">
				      <img src="{{ image.product1_th4.url() }}" alt="">
				    </a>
				  </li>
				</ul>
		
		<h2>Detalles</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales, risus eu cursus laoreet, turpis dui varius ante, id feugiat risus ante a enim.</p>
	</div>
</div>

{% endblock content %}